<div class="step-wrapper">
	<p>You are almost done.</p>

	<mat-card class="data-preview">
		<mat-card-content>
			<span><b>Login:</b> {{formStep1.controls["login"].value}}</span>
			<br>
			<span><b>Password:</b> {{formStep1.controls["password"].value}}</span>
			<br>
			<span><b>Country:</b> {{formStep2.controls["country"].value}}</span>
			<br>
			<span><b>Province:</b> {{formStep2.controls["province"].value}}</span>
			<br>
			<span><b>Ready to work for food:</b> {{formStep1.controls["isAgreeToWorkForFood"].value ? 'Yes' : 'No'}}</span>
		</mat-card-content>
	</mat-card>

	@if(!isSending) {
		<div>
			<button mat-button matStepperPrevious>Back</button>
			<button mat-button (click)="stepper.reset()">Reset</button>
			<button mat-button (click)="save()">Submit</button>
		</div>
	}
	@if(isSending) {
		<div class="content-center">
			<mat-spinner></mat-spinner>
		</div>
	}
</div>