<div class="step-wrapper">
	<form [formGroup]="formGroup">
		<div>
			<mat-form-field>
				<mat-label>Login</mat-label>
				<input formControlName="login" matInput placeholder="Login" required>
			</mat-form-field>
			<mat-error *ngIf="hasError('login')">
				Login must be a valid email.
			</mat-error>
		</div>
		<div>
			<mat-form-field>
				<mat-label>Password</mat-label>
				<input formControlName="password" matInput placeholder="Password" required type="password">
			</mat-form-field>
			<mat-error *ngIf="hasError('password')">
				Password must contain min 1 digit and min 1 letter.
			</mat-error>
		</div>
		<div>
			<mat-form-field>
				<mat-label>Confirm password</mat-label>
				<input formControlName="passwordConfirmation" matInput placeholder="Confirm password" required
					type="password">
			</mat-form-field>
			<mat-error *ngIf="isUsed('passwordConfirmation') && formGroup.errors?.['passwordNoMatch']">
				Password does'nt match.
			</mat-error>
		</div>
		<div>
			<mat-checkbox formControlName="isAgreeToWorkForFood" required>Agree to work for food</mat-checkbox>
			<mat-error *ngIf="hasError('isAgreeToWorkForFood')">
				You have to be agree.
			</mat-error>
		</div>
		<div>
			<button mat-button matStepperNext>Go to step 2</button>
		</div>
	</form>
</div>